<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= __('Aplicaciones en Agricultura de Precisión')%></title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">

    <link href="css/languages.min	.css" rel="stylesheet">

    <link href="img/languages.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container navbar-height">
            <p class="navbar-brand navbar-left navbar-bold"><%= __('Proyecto de investigación')%></p>
	          <p class="navbar-brand navbar-right">Agustín Balmer</p>
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

			<div class="flag-container">
				<a class="flag-icon" href="/fenotipado/es"><span class="lang-sm" lang="es"></span></a>
				<a class="flag-icon" href="/fenotipado/en"><span class="lang-sm" lang="en"></span></a>
			</div>

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= __('Robótica y Fenotipado de Alta Capacidad con Relevamiento de Datos en Campo')%>
										<br>
                    <small><%= __('Aplicaciones en Agricultura de Precisión')%></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="/img/feno-main.jpg" alt="">
            </div>

            <div class="col-md-4">
                <h3><%= __('Introducción')%></h3>
                <p><%= __('Diseño y desarrollo de una plataforma de censado y seguimiento para relevamiento de datos a campo y manejo de grandes volúmenes de datos.')%></p>
                <h3><%= __('Tecnologías')%></h3>
                <ul id="list-nospace">
                    <li>Raspberry pi 3</li>
                    <li>Raspbian Wheezy</li>
                    <li>Ubuntu 16.04.1 LTS</li>
                    <li>Oracle VM VirtualBox</li>
                    <li>Python 3.0</li>
                    <li>OpenCV 3.1</li>
                    <li>TKInter</li>
                    <li>Tetracam adc lite</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header"><%= __('Descripción')%></h3>
								<p><%= __('El sistema')%></p>
            </div>

            <div class="col-lg-12">
                <h3 class="page-header"><%= __('Equipo de trabajo')%></h3>
								<p><%= __('Este es un trabajo')%></p>
            </div>

						<div class="col-lg-12">
                <h3 class="page-header"><%= __('Imágenes')%></h3>
						</div>

            <div class="col-sm-3 col-xs-6">
                <img class="img-responsive portfolio-item" src="/img/feno-2.jpg" alt="">
            </div>

            <div class="col-sm-3 col-xs-6">
                <img class="img-responsive portfolio-item" src="/img/feno-3.jpg" alt="">
            </div>

            <div class="col-sm-3 col-xs-6">
                <img class="img-responsive portfolio-item" src="/img/feno-4.jpg" alt="">
            </div>

            <div class="col-sm-3 col-xs-6">
		            <img class="img-responsive portfolio-item" src="/img/feno-1.jpg" alt="">
            </div>

        </div>
        <!-- /.row -->

				<div class="col-lg-12">
		        <h3 class="page-header"><%= __('Nota')%></h3>
						<a href="http://sedici.unlp.edu.ar/bitstream/handle/10915/53181/Documento_completo.pdf-PDFA.pdf?sequence=1">http://sedici.unlp.edu.ar/bitstream/handle/10915/53181/Documento_completo.pdf-PDFA.pdf</a>
		    </div>

				<hr>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
