<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aplicaciones en Agricultura de Precisión</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container navbar-height">
            <p class="navbar-brand navbar-left navbar-bold">Proyecto de investigación</p>
	          <p class="navbar-brand navbar-right">Agustín Balmer</p>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Robótica y Fenotipado de Alta Capacidad con Relevamiento de Datos en Campo
										<br>
                    <small>Aplicaciones en Agricultura de Precisión</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="/images/20161215_152735.jpg" alt="">
            </div>

            <div class="col-md-4">
                <h3>Descripción</h3>
                <p>Diseño y desarrollo de una plataforma de censado y seguimiento para relevamiento de datos a campo y manejo de grandes volúmenes de datos.</p>
                <h3>Tecnologías</h3>
                <ul id="list-nospace">
                    <li>Raspberry pi 3</li>
                    <li>Raspbian Wheezy</li>
                    <li>Ubuntu 16.04.1 LTS</li>
                    <li>Oracle VM VirtualBox</li>
                    <li>Python 3.0</li>
                    <li>OpenCV 3.1</li>
                    <li>TKInter</li>
                    <li>Tetracam adc lite</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Descripción</h3>
								<p>El sistema desarrollado se encarga analizar un stream de video de una cámara de inferior calidad, reconociendo plantas de maíz y realizando un tracking de estas para recolectar una serie de imágenes de una cámara de superior calidad para su posterior análisis. 
El hardware del sistema es una plataforma Raspberry Pi 3 con sistema operativo Raspbian y pantalla táctil integrada, una cámara web genérica (video), una cámara multiespectral tetracam (imagen) y dos baterías portátiles. 
El software consiste de un sistema desarrollado en python utilizando las librerías OpenCV para la detección/tracking y Tkinter para la interfaz gráfica.</p>
            </div>

            <div class="col-lg-12">
                <h3 class="page-header">Equipo de trabajo</h3>
								<p>Este es un trabajo conjunto entre la Secretaría de Investigación, Desarrollo y Transferencia de la UNNOBA y el INTA, Estación Experimental Pergamino. El proyecto se desarrolla en el Instituto de Investigación en Tecnologías y Transferencia (ITT) dependiente de la mencionada Secretaría, y se trabaja en conjunto con la Escuela de Tecnología de la UNNOBA.</p>
            </div>

						<div class="col-lg-12">
                <h3 class="page-header">Imágenes</h3>
						</div>

            <div class="col-sm-3 col-xs-6">
                <img class="img-responsive portfolio-item" src="/images/20161122_110115.jpg" alt="">
            </div>

            <div class="col-sm-3 col-xs-6">
                <img class="img-responsive portfolio-item" src="/images/20161122_111038.jpg" alt="">
            </div>

            <div class="col-sm-3 col-xs-6">
                <img class="img-responsive portfolio-item" src="/images/20161215_152853.jpg" alt="">
            </div>

            <div class="col-sm-3 col-xs-6">
		            <img class="img-responsive portfolio-item" src="/images/20161122_105816.jpg" alt="">
            </div>

        </div>
        <!-- /.row -->

				<div class="col-lg-12">
		        <h3 class="page-header">Nota</h3>
						<a href="http://sedici.unlp.edu.ar/bitstream/handle/10915/53181/Documento_completo.pdf-PDFA.pdf?sequence=1">http://sedici.unlp.edu.ar/bitstream/handle/10915/53181/Documento_completo.pdf-PDFA.pdf</a>
		    </div>

				<hr>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
